<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>

  <rebus inputQueue="finansieltSystem.input" errorQueue="finansieltSystem.error" workers="1"/>
</configuration>