<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>

  <rebus inputQueue="kredistatus.input" errorQueue="kredistatus.error" workers="1">
    <endpoints>
       <add messages="FinansieltSystem.Messages" endpoint="finansieltSystem.input"/> 
       <add messages="Kreditbandit.Messages" endpoint="kreditbandit.input"/> 
    </endpoints>
  </rebus>
</configuration>